@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-default {
    @apply flex items-center justify-center bg-white px-4 py-2 text-center text-gray-700 rounded-lg border hover:bg-gray-50 active:bg-gray-100 sm:mt-0 md:text-sm dark:text-white dark:bg-gray-800 dark:border-gray-800 dark:hover:bg-gray-700 dark:hover:border-gray-700 disabled:pointer-events-none disabled:opacity-50 dark:disabled:opacity-30 dark:disabled:pointer-events-none;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}